.bg-primary {
      background-color: #0d6efd !important;
}
.bg-secondary {
      background-color: #6c757d !important;
}
.bg-success {
      background-color: #198754 !important;
}
.bg-info {
      background-color: #0dcaf0 !important;
}
.bg-warning {
      background-color: #ffc107 !important;
}
.bg-danger {
      background-color: #dc3545 !important;
}
.bg-light {
      background-color: #f8f9fa !important;
}
.bg-dark {
      background-color: #212529 !important;
}
.bg-body {
      background-color: #fff !important;
}
.bg-white {
      background-color: #fff !important;
}
.bg-transparent {
      background-color: transparent !important;
}